<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a0307aceaf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo-busqueda">
                <a href="/"><img src="images/logo-mercado-liebre.svg" alt="logo mercado liebre" class="logo"></a>
                <div class="barra-de-busquedas"><form class="example" action="">
                    <input type="text" placeholder="Buscar productos" name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </form></div>
            </div>
        
        <div class="compra-en-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</div>
        
        </div>
        <nav class="primer-nav">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Crea tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="header-abajo">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div>
        </div>
    </header>
    <img src="/images/img-home-banner.jpg" alt="publicidad separador" class="publicidad-separador">
    <main>
        <section><div class="titular">Basado en tu última visita</div>
            <article class="art1">
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                <div class="camionetita"><i class="fa-solid fa-truck"></i></div>
                <div class="oferta-precio">
                    <div class="precio">$6.770</div>
                    <div class="oferta">40% off</div>
                </div>
                <div class="descripcion">Cafetera Moulinex</div>
            </article>
            <article class="art2">
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                <div class="camionetita"><i class="fa-solid fa-truck"></i></div>
                <div class="oferta-precio">
                <div class="precio">$230.000</div>
                <div class="oferta">20% off</div>
                </div>
                <div class="descripcion">MacBook Pro 2019</div>
            </article>
            <article class="art3">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
                <div class="camionetita"><i class="fa-solid fa-truck"></i></div>
                <div class="oferta-precio">
                <div class="precio">$70.500</div>
                <div class="oferta">10% off</div>
                </div>
                <div class="descripcion">Samsng Galaxy S10</div>
            </article>
            <article class="art4">
                <img src="/images/img-tv-samsung-smart.jpg" alt="smart tv">
                <div class="camionetita"><i class="fa-solid fa-truck"></i></div>
                <div class="oferta-precio">
                <div class="precio">$23.200</div>
                <div class="oferta">5% off</div>
                </div>
                <div class="descripcion">Smart Samsung 43"</div>
            </article>

        </section>
    </main>
    <footer>
        <section>
            <div class="footer-titulos"><i class="fa-solid fa-credit-card"></i><br>Pagá con tarjeta o en efectivo</div>
                <div class="footer-titulos-texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</div>
        </section>
        <section>
            <div class="footer-titulos"><i class="fa-solid fa-gift"></i><br>Envío gratis desde $ 2.500</div>
                <div class="footer-titulos-texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</div>
        </section>
        <section>
            <div class="footer-titulos"><i class="fa-solid fa-user-shield"></i><br>Seguridad, de principio a fin</div>
                <div class="footer-titulos-texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</div>
        </section>
    </footer>
</body>
</html>