<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresa</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a0307aceaf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo-busqueda">
                <a href="/"><img src="images/logo-mercado-liebre.svg" alt="logo mercado liebre" class="logo"></a>
                <div class="barra-de-busquedas"><form class="example" action="">
                    <input type="text" placeholder="Buscar productos, marcas" name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </form></div>
            </div>
        
        <div class="compra-en-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</div>
        </div>
        <nav class="primer-nav">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Crea tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="header-abajo">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div>
        </div>
    </header>

    <main>
        <body>
            <!-- FORMULARIO -->
        <form action="#" method="get" class="form-register-login">
            <div class="contro-formulario-login">
                <label for="username" class="label-to-hide">Nombre de usuari@:</label>
                <input type="text" id="username" name="username" class="control-login" placeholder="Nombre de usuario" required>
            </div>
            <div class="contro-formulario-login">
            <label for="password" class="label-to-hide">Contraseña:</label>
            <input type="password" id="password" name="password" class="control-login" placeholder="Contraseña" required>
        </div>
        <div class="botones-login">
            <button type="submit">Entrar</button>
        </div>
            </form>
    
        
    </main>
    <footer>
        <section>
            <div class="footer-titulos"><i class="fa-solid fa-credit-card"></i><br>Pagá con tarjeta o en efectivo</div>
                <div class="footer-titulos-texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</div>
        </section>
        <section>
            <div class="footer-titulos"><i class="fa-solid fa-gift"></i><br>Envío gratis desde $ 2.500</div>
                <div class="footer-titulos-texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</div>
        </section>
        <section>
            <div class="footer-titulos"><i class="fa-solid fa-user-shield"></i><br>Seguridad, de principio a fin</div>
                <div class="footer-titulos-texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</div>
        </section>
    </footer>
    
</body>
</html>